{
  "openapi": "3.0.0",
  "info": {
    "title": "API",
    "version": "1.0",
    "description": "https://pusula.timexpo.net adresinden yayınlanan ihracat pusulasında yer alan API kullanım kılavuzu"
  },
  "servers": [
    {
      "url": "https://uncomtradeapi.tim.rest/comtrade",
      "description": "TİM - Pusula API"
    }
  ],
  "paths": {
    "/getcountries": {
      "get": {
        "summary": "Ülkeler Listesi",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "country",
                    "type": "object",
                    "x-examples": {
                      "Örnek": {
                        "name": "abd",
                        "nameTr": "ABD",
                        "countryCodes": [
                          842,
                          841
                        ]
                      }
                    },
                    "description": "Ülke tanımlaması",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Sorgularda kullanılacak ülke adı (id olarak kullanılır)"
                      },
                      "nameTr": {
                        "type": "string",
                        "description": "Kullanıcıya gösterilecek Türkçe ülke adı"
                      },
                      "countryCodes": {
                        "type": "array",
                        "description": "Sadece bilgi için verilmiştir, sorgularda kullanılmaz",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "countryCode": {
                        "type": "integer",
                        "description": "Sadece bilgi için verilmiştir, sorgularda kullanılmaz"
                      },
                      "visible": {
                        "type": "boolean",
                        "description": "Sadece bilgi için verilmiştir. Kullanılmaz"
                      }
                    }
                  }
                },
                "examples": {
                  "/getcountries": {
                    "value": [
                      {
                        "countryCode": 0,
                        "name": "abd",
                        "nameTr": "ABD",
                        "visible": false,
                        "countryCodes": [
                          842,
                          841
                        ]
                      },
                      {
                        "countryCode": 0,
                        "name": "abd-virjin-adalari",
                        "nameTr": "ABD Virjin Adaları",
                        "visible": false,
                        "countryCodes": [
                          850
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-getcountries",
        "description": "Sistemde verileri yer alan ülkelerin ülke listesini getirir. Ülke adına göre alfabetik sıralanmıştır."
      }
    },
    "/getcountryimports?c={country-name}&hs={hs-code}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "country-name",
          "in": "path",
          "description": "Ülke listesinden name adı ile belirtilen ülke adı"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "hs-code",
          "in": "path",
          "description": "2'li GTİP kodu"
        }
      ],
      "get": {
        "summary": "Ülke Bazında İthalat İstatistikleri",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "countryImport",
                  "type": "object",
                  "description": "Ülke bazında ithalat verilerini listeler. Ülke'nin toplam ithalatının en çok ithalat yapılan mal grubu bazında listesini içerir.",
                  "properties": {
                    "hsCode": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Sorgusu yapılan GTİP kodu"
                    },
                    "hsCodeName": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Sorgusu yapılan GTİP adı, açıklaması"
                    },
                    "totalImportValue": {
                      "type": "number",
                      "description": "Ülkenin belirtilne yıla ait USD cinsinden toplam ithalatı"
                    },
                    "year": {
                      "type": "integer",
                      "description": "Sonucun ait olduğu yıl"
                    },
                    "countryName": {
                      "type": "string",
                      "description": "Görünen ülke adı"
                    },
                    "countryCodes": {
                      "type": "string",
                      "description": "Virgül ile ayrılmış ülke kodları (sadece bilgi için verilmiştir. Sorgularda kullanılmaz)"
                    },
                    "items": {
                      "type": [
                        "string",
                        "array"
                      ],
                      "description": "Mal grubu bazında ithalat listesi. En çok ithalatı yapılan 10 mal grubunu içerir.",
                      "items": {
                        "title": "countryImportStat",
                        "type": "object",
                        "description": "Ülke ithalat rakamları GTİP bazında toplam tutar bilgisini belirtir.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "2'li GTİP Kodu"
                          },
                          "hsCode": {
                            "title": "hsCode",
                            "type": "object",
                            "description": "Gtip Kodu tanımlaması",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Gtip kodu veri tabanı Id'si"
                              },
                              "gtip": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Var ise tam gtip kodu 8'li 10'lu ya da 12'li"
                              },
                              "gtipDesc": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Gtip açıklaması, adı"
                              },
                              "gtip2": {
                                "type": "string",
                                "description": "2'li GTİP kodu"
                              },
                              "gtip2desc": {
                                "type": "string",
                                "description": "2'li GTİP kodu açıklaması"
                              },
                              "gtip4": {
                                "type": "string",
                                "description": "4'lü GTİP kodu"
                              },
                              "gtip4desc": {
                                "type": "string",
                                "description": "4'lü GTİP kodu açıklaması"
                              },
                              "gtip6": {
                                "type": "string",
                                "description": "6'lı GTİP kodu"
                              },
                              "gtip6desc": {
                                "type": "string",
                                "description": "6'lı GTİP kodu açıklaması"
                              }
                            },
                            "x-examples": {
                              "Örnek": {
                                "id": "5caaf85dc74f643aa0deaf07",
                                "gtip": null,
                                "gtipDesc": null,
                                "gtip2": "84",
                                "gtip2desc": "Kazanlar, makinalar, mekanik cihazlar ve aletler, nükleer reaktörler, bunların aksam ve parçaları",
                                "gtip4": "8401",
                                "gtip4desc": "Berilyum, krom, germanyum, vanadyum, galliyum, hafniyum, indiyum, niobyum, renyum, talyum (döküntü ve hurdalar dahil)",
                                "gtip6": "840110",
                                "gtip6desc": "Nükleer reaktörler"
                              }
                            }
                          },
                          "trade": {
                            "type": "number",
                            "description": "USD cinsinden toplam tutar"
                          }
                        },
                        "x-examples": {
                          "Örnek": {
                            "id": "84",
                            "hsCode": {
                              "id": "5caaf85dc74f643aa0deaf07",
                              "gtip": null,
                              "gtipDesc": null,
                              "gtip2": "84",
                              "gtip2desc": "Kazanlar, makinalar, mekanik cihazlar ve aletler, nükleer reaktörler, bunların aksam ve parçaları",
                              "gtip4": "8401",
                              "gtip4desc": "Berilyum, krom, germanyum, vanadyum, galliyum, hafniyum, indiyum, niobyum, renyum, talyum (döküntü ve hurdalar dahil)",
                              "gtip6": "840110",
                              "gtip6desc": "Nükleer reaktörler"
                            },
                            "trade": 145201364011
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "/getcountryimports?c=almanya": {
                    "value": {
                      "hsCode": null,
                      "hsCodeName": null,
                      "totalImportValue": 1167753352526,
                      "year": 2017,
                      "countryName": "Almanya",
                      "countryCodes": "276,278,280",
                      "items": [
                        {
                          "id": "84",
                          "hsCode": {
                            "id": "5caaf85dc74f643aa0deaf07",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "84",
                            "gtip2desc": "Kazanlar, makinalar, mekanik cihazlar ve aletler, nükleer reaktörler, bunların aksam ve parçaları",
                            "gtip4": "8401",
                            "gtip4desc": "Berilyum, krom, germanyum, vanadyum, galliyum, hafniyum, indiyum, niobyum, renyum, talyum (döküntü ve hurdalar dahil)",
                            "gtip6": "840110",
                            "gtip6desc": "Nükleer reaktörler"
                          },
                          "trade": 145201364011
                        },
                        {
                          "id": "85",
                          "hsCode": {
                            "id": "5caaf85dc74f643aa0deb0f9",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "85",
                            "gtip2desc": "Elektrikli makina ve cihazlar, ses kaydetme verme, televizyon görüntü ses kaydetme verme cihazları,aksam parça aksesuarı",
                            "gtip4": "8501",
                            "gtip4desc": "Metal işlemeye mahsus torna tezgahları ( tornalama merkezleri dahil)",
                            "gtip6": "850110",
                            "gtip6desc": "Elektrik motorları; güç=<37, 5 w"
                          },
                          "trade": 142601681302
                        },
                        {
                          "id": "87",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb215",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8701",
                            "gtip4desc": "Elektrikli ses veya görüntülü işaret cihazları (ziller, sirenler, gösterge tabloları, hırsızlık veya yangın alarmları)",
                            "gtip6": "870110",
                            "gtip6desc": "Tek akslı traktörler (87.09 pozisyonuna giren traktörler hariç)"
                          },
                          "trade": 119314524557
                        },
                        {
                          "id": "27",
                          "hsCode": {
                            "id": "5caaf85bc74f643aa0dea3b8",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "27",
                            "gtip2desc": "Mineral yakıtlar, mineral yağlar ve bunların damıtılmasından elde edilen ürünler, bitümenli maddeler, mineral mumlar",
                            "gtip4": "2701",
                            "gtip4desc": "Amyant (asbest)",
                            "gtip6": "270111",
                            "gtip6desc": "Antrasit"
                          },
                          "trade": 89861909797
                        },
                        {
                          "id": "30",
                          "hsCode": {
                            "id": "5caaf85bc74f643aa0dea5d1",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "30",
                            "gtip2desc": "Eczacılık ürünleri",
                            "gtip4": "3001",
                            "gtip4desc": "Doymuş asiklik monokarboksilik asitler ve bunların türevleri",
                            "gtip6": "300120",
                            "gtip6desc": "Guddelerin/diğer organların/bunların salgılarının hülasaları"
                          },
                          "trade": 51730082284
                        },
                        {
                          "id": "39",
                          "hsCode": {
                            "id": "5caaf85cc74f643aa0dea6e5",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "39",
                            "gtip2desc": "Plastikler ve mamulleri",
                            "gtip4": "3901",
                            "gtip4desc": "Fotoğrafçılıkta kullanılan kimyasal ürünler",
                            "gtip6": "390110",
                            "gtip6desc": "Özgül kütlesi < 0,94 olan polietilen"
                          },
                          "trade": 41035463781
                        },
                        {
                          "id": "90",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb27f",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "90",
                            "gtip2desc": "Optik, fotoğraf, sinema, ölçü, kontrol, ayar, tıbbi, cerrahi alet ve cihazlar, bunların aksam, parça ve aksesuarı",
                            "gtip4": "9001",
                            "gtip4desc": "Eşya taşımaya mahsus motorlu taşıtlar",
                            "gtip6": "900110",
                            "gtip6desc": "Optik lifler, demetleri ve kabloları"
                          },
                          "trade": 39231616981
                        },
                        {
                          "id": "29",
                          "hsCode": {
                            "id": "5caaf85bc74f643aa0dea486",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "29",
                            "gtip2desc": "Organik kimyasal ürünler",
                            "gtip4": "2901",
                            "gtip4desc": "Kurşun oksitleri, minyum ve minoranj",
                            "gtip6": "290110",
                            "gtip6desc": "Asiklik hidrokarbonlar-doymuş"
                          },
                          "trade": 33289336782
                        },
                        {
                          "id": "72",
                          "hsCode": {
                            "id": "5caaf85dc74f643aa0deacd4",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "72",
                            "gtip2desc": "Demir ve çelik",
                            "gtip4": "7201",
                            "gtip4desc": "Camdan damacana, şişe, kavanoz, çanak, ilaç tüpleri, serum ampülleri ve diğer kaplar",
                            "gtip6": "720110",
                            "gtip6desc": "Alaşımsız dökme demir (fosfor=<%0, 5 ağırlık)"
                          },
                          "trade": 27370707307
                        },
                        {
                          "id": "73",
                          "hsCode": {
                            "id": "5caaf85dc74f643aa0dead7b",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "73",
                            "gtip2desc": "Demir veya çelikten eşya",
                            "gtip4": "7301",
                            "gtip4desc": "Ferro alyajlar",
                            "gtip6": "730110",
                            "gtip6desc": "Demir/çelik palplanşlar"
                          },
                          "trade": 21207236330
                        }
                      ]
                    }
                  },
                  "/getcountryimports?c=almanya&hs=87": {
                    "value": {
                      "hsCode": "87",
                      "hsCodeName": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                      "totalImportValue": 115638856276,
                      "year": 2017,
                      "countryName": "Almanya",
                      "countryCodes": "276,278,280",
                      "items": [
                        {
                          "id": "870332",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb220",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8703",
                            "gtip4desc": "Elektrik rezistansları (reostalar ve potansiyometreler dahil) (ısıtıcı rezistanslar hariç)",
                            "gtip6": "870332",
                            "gtip6desc": "Motorlu taşıt; dizel/yarı dizel (1500cm3<silindir hacmi=<2500cm3)"
                          },
                          "trade": 19457226755
                        },
                        {
                          "id": "870323",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb21d",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8703",
                            "gtip4desc": "Elektrik rezistansları (reostalar ve potansiyometreler dahil) (ısıtıcı rezistanslar hariç)",
                            "gtip6": "870323",
                            "gtip6desc": "Motorlu taşıt; kıvılcım ateşlemeli (1500cm3<silindir=<3000 cm3)"
                          },
                          "trade": 13017438389
                        },
                        {
                          "id": "870322",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb21c",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8703",
                            "gtip4desc": "Elektrik rezistansları (reostalar ve potansiyometreler dahil) (ısıtıcı rezistanslar hariç)",
                            "gtip6": "870322",
                            "gtip6desc": "Motorlu taşıt; kıvılcım ateşlemeli (1000cm3<silindir=<1500 cm3)"
                          },
                          "trade": 11681005583
                        },
                        {
                          "id": "870829",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb234",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8708",
                            "gtip4desc": "Esas itibariyle 85.35, 85.36 veya 85.37 pozisyonlarında yer alan cihazlarda kullanılmaya uygun aksam ve parçalar",
                            "gtip6": "870829",
                            "gtip6desc": "Kara taşıtlarının diğer aksam-parçaları"
                          },
                          "trade": 10067775450
                        },
                        {
                          "id": "870840",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb236",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8708",
                            "gtip4desc": "Esas itibariyle 85.35, 85.36 veya 85.37 pozisyonlarında yer alan cihazlarda kullanılmaya uygun aksam ve parçalar",
                            "gtip6": "870840",
                            "gtip6desc": "Kara taşıtları için vites kutuları ve aksam, parçaları"
                          },
                          "trade": 7311684030
                        },
                        {
                          "id": "870899",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb23f",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8708",
                            "gtip4desc": "Esas itibariyle 85.35, 85.36 veya 85.37 pozisyonlarında yer alan cihazlarda kullanılmaya uygun aksam ve parçalar",
                            "gtip6": "870899",
                            "gtip6desc": "Kara taşıtları için diğer aksam, parçaları"
                          },
                          "trade": 6292209808
                        },
                        {
                          "id": "870333",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb221",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8703",
                            "gtip4desc": "Elektrik rezistansları (reostalar ve potansiyometreler dahil) (ısıtıcı rezistanslar hariç)",
                            "gtip6": "870333",
                            "gtip6desc": "Motorlu taşıt; dizel/yarı dizel (silindir hacmi>2500cm3)"
                          },
                          "trade": 6039999562
                        },
                        {
                          "id": "870830",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb235",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8708",
                            "gtip4desc": "Esas itibariyle 85.35, 85.36 veya 85.37 pozisyonlarında yer alan cihazlarda kullanılmaya uygun aksam ve parçalar",
                            "gtip6": "870830",
                            "gtip6desc": "Kara traşıtları için fren ve servo-frenler vb. aksam, parçaları"
                          },
                          "trade": 3724589038
                        },
                        {
                          "id": "870321",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb21b",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8703",
                            "gtip4desc": "Elektrik rezistansları (reostalar ve potansiyometreler dahil) (ısıtıcı rezistanslar hariç)",
                            "gtip6": "870321",
                            "gtip6desc": "Motorlu taşıt; kıvılcım ateşlemeli (silindir hacmi <= 1000cm3)"
                          },
                          "trade": 3182560993
                        },
                        {
                          "id": "870421",
                          "hsCode": {
                            "id": "5caaf85ec74f643aa0deb224",
                            "gtip": null,
                            "gtipDesc": null,
                            "gtip2": "87",
                            "gtip2desc": "Motorlu kara taşıtları, traktörler, bisikletler, motosikletler ve diğer kara taşıtları, bunların aksam, parça, aksesuarı",
                            "gtip4": "8704",
                            "gtip4desc": "Baskı devreler",
                            "gtip6": "870421",
                            "gtip6desc": "Dizel/yarı dizel motorlu taşıtlar (taşıma kapasitesi<5ton)"
                          },
                          "trade": 2924881633
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "countryImport",
                  "type": "object",
                  "description": "Ülke bazında ithalat verilerini listeler. Ülke'nin toplam ithalatının en çok ithalat yapılan mal grubu bazında listesini içerir.",
                  "properties": {
                    "hsCode": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Sorgusu yapılan GTİP kodu"
                    },
                    "hsCodeName": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Sorgusu yapılan GTİP adı, açıklaması"
                    },
                    "totalImportValue": {
                      "type": "number",
                      "description": "Ülkenin belirtilne yıla ait USD cinsinden toplam ithalatı"
                    },
                    "year": {
                      "type": "integer",
                      "description": "Sonucun ait olduğu yıl"
                    },
                    "countryName": {
                      "type": "string",
                      "description": "Görünen ülke adı"
                    },
                    "countryCodes": {
                      "type": "string",
                      "description": "Virgül ile ayrılmış ülke kodları (sadece bilgi için verilmiştir. Sorgularda kullanılmaz)"
                    },
                    "items": {
                      "type": [
                        "string",
                        "array"
                      ],
                      "description": "Mal grubu bazında ithalat listesi. En çok ithalatı yapılan 10 mal grubunu içerir.",
                      "items": {
                        "title": "countryImportStat",
                        "type": "object",
                        "description": "Ülke ithalat rakamları GTİP bazında toplam tutar bilgisini belirtir.",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "2'li GTİP Kodu"
                          },
                          "hsCode": {
                            "title": "hsCode",
                            "type": "object",
                            "description": "Gtip Kodu tanımlaması",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Gtip kodu veri tabanı Id'si"
                              },
                              "gtip": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Var ise tam gtip kodu 8'li 10'lu ya da 12'li"
                              },
                              "gtipDesc": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Gtip açıklaması, adı"
                              },
                              "gtip2": {
                                "type": "string",
                                "description": "2'li GTİP kodu"
                              },
                              "gtip2desc": {
                                "type": "string",
                                "description": "2'li GTİP kodu açıklaması"
                              },
                              "gtip4": {
                                "type": "string",
                                "description": "4'lü GTİP kodu"
                              },
                              "gtip4desc": {
                                "type": "string",
                                "description": "4'lü GTİP kodu açıklaması"
                              },
                              "gtip6": {
                                "type": "string",
                                "description": "6'lı GTİP kodu"
                              },
                              "gtip6desc": {
                                "type": "string",
                                "description": "6'lı GTİP kodu açıklaması"
                              }
                            },
                            "x-examples": {
                              "Örnek": {
                                "id": "5caaf85dc74f643aa0deaf07",
                                "gtip": null,
                                "gtipDesc": null,
                                "gtip2": "84",
                                "gtip2desc": "Kazanlar, makinalar, mekanik cihazlar ve aletler, nükleer reaktörler, bunların aksam ve parçaları",
                                "gtip4": "8401",
                                "gtip4desc": "Berilyum, krom, germanyum, vanadyum, galliyum, hafniyum, indiyum, niobyum, renyum, talyum (döküntü ve hurdalar dahil)",
                                "gtip6": "840110",
                                "gtip6desc": "Nükleer reaktörler"
                              }
                            }
                          },
                          "trade": {
                            "type": "number",
                            "description": "USD cinsinden toplam tutar"
                          }
                        },
                        "x-examples": {
                          "Örnek": {
                            "id": "84",
                            "hsCode": {
                              "id": "5caaf85dc74f643aa0deaf07",
                              "gtip": null,
                              "gtipDesc": null,
                              "gtip2": "84",
                              "gtip2desc": "Kazanlar, makinalar, mekanik cihazlar ve aletler, nükleer reaktörler, bunların aksam ve parçaları",
                              "gtip4": "8401",
                              "gtip4desc": "Berilyum, krom, germanyum, vanadyum, galliyum, hafniyum, indiyum, niobyum, renyum, talyum (döküntü ve hurdalar dahil)",
                              "gtip6": "840110",
                              "gtip6desc": "Nükleer reaktörler"
                            },
                            "trade": 145201364011
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Örnek 1: GTİP kodu belirtilmemiş sadece ülke bazında sorgu": {}
                }
              }
            },
            "description": ""
          }
        },
        "operationId": "get-getcountryimports?c=-countr-name",
        "description": "Parametre olarak belirtilen ülke, GTİP ya da Ülke ve GTİP'e göre sistemde yer alan en son yıla ait mal grubu bazındaki ithalatlarını getirir. İthalat statistikleri belirtilen parametrelere göre en çok ithalatı yapılan mal grubuna göre ilk on mal grubu olacak şekilde listelenir."
      }
    },
    "/gethscodes?q={query}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "query",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "GTİP Kodları Listesi",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "hsCode",
                    "type": "object",
                    "description": "Gtip Kodu tanımlaması",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Gtip kodu veri tabanı Id'si"
                      },
                      "gtip": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Var ise tam gtip kodu 8'li 10'lu ya da 12'li"
                      },
                      "gtipDesc": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Gtip açıklaması, adı"
                      },
                      "gtip2": {
                        "type": "string",
                        "description": "2'li GTİP kodu"
                      },
                      "gtip2desc": {
                        "type": "string",
                        "description": "2'li GTİP kodu açıklaması"
                      },
                      "gtip4": {
                        "type": "string",
                        "description": "4'lü GTİP kodu"
                      },
                      "gtip4desc": {
                        "type": "string",
                        "description": "4'lü GTİP kodu açıklaması"
                      },
                      "gtip6": {
                        "type": "string",
                        "description": "6'lı GTİP kodu"
                      },
                      "gtip6desc": {
                        "type": "string",
                        "description": "6'lı GTİP kodu açıklaması"
                      }
                    },
                    "x-examples": {
                      "Örnek": {
                        "id": "5caaf85dc74f643aa0deaf07",
                        "gtip": null,
                        "gtipDesc": null,
                        "gtip2": "84",
                        "gtip2desc": "Kazanlar, makinalar, mekanik cihazlar ve aletler, nükleer reaktörler, bunların aksam ve parçaları",
                        "gtip4": "8401",
                        "gtip4desc": "Berilyum, krom, germanyum, vanadyum, galliyum, hafniyum, indiyum, niobyum, renyum, talyum (döküntü ve hurdalar dahil)",
                        "gtip6": "840110",
                        "gtip6desc": "Nükleer reaktörler"
                      }
                    }
                  }
                },
                "examples": {
                  "/gethscodes?q=keçi%20derisi": {
                    "value": [
                      {
                        "id": "5caaf6a7d879d427257367a8",
                        "gtip": "560290000000001",
                        "gtipDesc": "KEÇE-DİĞER (T95)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560290",
                        "gtip6desc": "Keçe (diğer)"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f4",
                        "gtip": "020450510000",
                        "gtipDesc": "KEÇİ ETİ - KARKAS VE YARIM KARKAS. DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f7",
                        "gtip": "020450590000",
                        "gtipDesc": "KEÇİ ETİ - BUT / YARIM BUT. DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f8",
                        "gtip": "020450710000",
                        "gtipDesc": "KEÇİ ETİ - DİĞER KEMİKLİ PARÇALAR. DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f9",
                        "gtip": "020450790000",
                        "gtipDesc": "KEÇİ ETİ - DİĞER KEMİKSİZ PARÇALAR. DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f5",
                        "gtip": "020450530000",
                        "gtipDesc": "KEÇİ ETİ - KISA ÖN ÇEYREK. DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f1",
                        "gtip": "020450190000",
                        "gtipDesc": "KEÇİ ETİ - BUT / YARIM BUT. TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337ef",
                        "gtip": "020450130000",
                        "gtipDesc": "KEÇİ ETİ - KISA ÖN ÇEYREK. TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337ee",
                        "gtip": "020450110000",
                        "gtipDesc": "KEÇİ ETİ - KARKAS VE YARIM KARKAS. TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f6",
                        "gtip": "020450550000",
                        "gtipDesc": "KEÇİ ETİ - FİLETO / SAĞRI (TAM / YARIM). DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f3",
                        "gtip": "020450390000",
                        "gtipDesc": "KEÇİ ETİ - DİĞER KEMİKSİZ PARÇALAR. TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f2",
                        "gtip": "020450310000",
                        "gtipDesc": "KEÇİ ETİ - DİĞER KEMİKLİ PARÇALAR. TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257337f0",
                        "gtip": "020450150000",
                        "gtipDesc": "KEÇİ ETİ - FİLETO / SAĞRI (TAM / YARIM). TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0204",
                        "gtip4desc": "Koyun ve keçi etleri (taze, soğutulmuş veya donduruImuş)",
                        "gtip6": "020450",
                        "gtip6desc": "Keçi eti"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a9",
                        "gtip": "560290000000002",
                        "gtipDesc": "KEÇE-DİĞER (T95)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560290",
                        "gtip6desc": "Keçe (diğer)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a7",
                        "gtip": "560290000000001",
                        "gtipDesc": "KEÇE-DİĞER (T95)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560290",
                        "gtip6desc": "Keçe (diğer)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342c4",
                        "gtip": "150290900012",
                        "gtipDesc": " KOYUN VE KEÇİ YAĞLARI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150290",
                        "gtip6desc": "Sığır, koyun veya keçilerin yağları (sıvı don yağları hariç) (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342c5",
                        "gtip": "150290900012",
                        "gtipDesc": "DİĞER KOYUN VE KEÇİ YAĞLARI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150290",
                        "gtip6desc": "Sığır, koyun veya keçilerin yağları (sıvı don yağları hariç) (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342be",
                        "gtip": "150210109000",
                        "gtipDesc": "SIĞIR.KOYUN. KEÇİLERİN DİĞER YAĞLARI - SINAİ AMAÇLI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150210",
                        "gtip6desc": "Sığır, koyun veya keçilerin sıvı don yağları (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342bf",
                        "gtip": "150210900000",
                        "gtipDesc": "DİĞERLERİ, SIĞIR, KOYUN, KEÇİ YAĞININ DİĞERLERİ, SIVI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150210",
                        "gtip6desc": "Sığır, koyun veya keçilerin sıvı don yağları (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342bd",
                        "gtip": "150210109000",
                        "gtipDesc": " DİĞERLERİ, SINAİ AMAÇLARLA KULLANILAN, SIĞIR, KOYUN, KEÇİ YAĞI, SIVI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150210",
                        "gtip6desc": "Sığır, koyun veya keçilerin sıvı don yağları (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342bb",
                        "gtip": "150210101000",
                        "gtipDesc": "SIĞIR.KOYUN. KEÇİLERİN KEMİK YAĞI; ARTIKLARDAN ELDE EDİLEN YAĞLAR. SINAİ AMAÇLI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150210",
                        "gtip6desc": "Sığır, koyun veya keçilerin sıvı don yağları (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342bc",
                        "gtip": "150210101000",
                        "gtipDesc": " KEMİK YAĞI ARTIKLARDAN ELDE EDİLEN YAĞLAR, SIĞIR, KOYUN, KEÇİ YAĞI, SIVI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150210",
                        "gtip6desc": "Sığır, koyun veya keçilerin sıvı don yağları (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a2",
                        "gtip": "560229000011001",
                        "gtipDesc": "KEÇE-DİĞER.KABA KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ. KAPLANMAMIŞ/LAMİNESİZ(T144)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560229",
                        "gtip6desc": "Keçe (diğer dokumaya elverişli maddeden)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a5",
                        "gtip": "560229000019001",
                        "gtipDesc": "KEÇE-DİĞER.DOK.DİĞ.MADDEDEN.EMDİRİLMEMİŞ. SIVANMAMIŞ.KAPLANMAMIŞ/LAMİNESİZ(T95)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560229",
                        "gtip6desc": "Keçe (diğer dokumaya elverişli maddeden)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a1",
                        "gtip": "560229000011001",
                        "gtipDesc": "KEÇE-DİĞER.KABA KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ. KAPLANMAMIŞ/LAMİNESİZ(T144)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560229",
                        "gtip6desc": "Keçe (diğer dokumaya elverişli maddeden)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a3",
                        "gtip": "560229000011002",
                        "gtipDesc": "KEÇE-DİĞER.KABA KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ. KAPLANMAMIŞ/LAMİNESİZ(T144)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560229",
                        "gtip6desc": "Keçe (diğer dokumaya elverişli maddeden)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a6",
                        "gtip": "560229000019002",
                        "gtipDesc": "KEÇE-DİĞER.DOK.DİĞ.MADDEDEN.EMDİRİLMEMİŞ. SIVANMAMIŞ.KAPLANMAMIŞ/LAMİNESİZ(T95)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560229",
                        "gtip6desc": "Keçe (diğer dokumaya elverişli maddeden)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a4",
                        "gtip": "560229000019001",
                        "gtipDesc": "KEÇE-DİĞER.DOK.DİĞ.MADDEDEN.EMDİRİLMEMİŞ. SIVANMAMIŞ.KAPLANMAMIŞ/LAMİNESİZ(T95)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560229",
                        "gtip6desc": "Keçe (diğer dokumaya elverişli maddeden)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573679b",
                        "gtip": "560210900000001",
                        "gtipDesc": "KEÇE-EMDİRİLMİŞ. SIVANMIŞ. KAPLANMIŞ VEYA LAMİNE EDİLMİŞ (T95)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573679d",
                        "gtip": "560210900000002",
                        "gtipDesc": "KEÇE-EMDİRİLMİŞ. SIVANMIŞ. KAPLANMIŞ VEYA LAMİNE EDİLMİŞ (T95)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573679c",
                        "gtip": "560210900000001",
                        "gtipDesc": "KEÇE-EMDİRİLMİŞ. SIVANMIŞ. KAPLANMIŞ VEYA LAMİNE EDİLMİŞ (T95)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736798",
                        "gtip": "560210380000001",
                        "gtipDesc": "KEÇE-TRİKO.DOK.DİĞ.MAD.EMDİRİLMEMİŞ.SIVANMAMIŞ. KAPLANMAMIŞ/LAMİNESİZ(T95)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736796",
                        "gtip": "560210310000001",
                        "gtipDesc": "KEÇE-TRİKO.YÜN/İNCE KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ KAPLANMAMIŞ/LAMİNESİZ(T95)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736792",
                        "gtip": "560210190000001",
                        "gtipDesc": "KEÇE-İĞNEDEN.DOK.DİĞ.MADDEDEN.EMDİRİLMEMİŞ. SIVANMAMIŞ.KAPLANMAMIŞ/LAMİNESİZ(T95)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573678f",
                        "gtip": "560210110000001",
                        "gtipDesc": "KEÇE-İĞNEDEN.JÜT.BİTKİ İÇ LİFİNDEN.EMDİRİLME. SIVANMA.KAPLANMAMIŞ/LAMİNESİZ(T152)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573679f",
                        "gtip": "560221000000001",
                        "gtipDesc": "KEÇE-DİĞER.YÜN/İNCE KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ KAPLANMAMIŞ/LAMİNESİZ(T95)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560221",
                        "gtip6desc": "Keçe (diğer, yün/ince kıldan, emdirilmemiş, sıvanmamış, kaplanmamış/laminesiz)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573679a",
                        "gtip": "560210380000002",
                        "gtipDesc": "KEÇE-TRİKO.DOK.DİĞ.MAD.EMDİRİLMEMİŞ.SIVANMAMIŞ. KAPLANMAMIŞ/LAMİNESİZ(T95)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736799",
                        "gtip": "560210380000001",
                        "gtipDesc": "KEÇE-TRİKO.DOK.DİĞ.MAD.EMDİRİLMEMİŞ.SIVANMAMIŞ. KAPLANMAMIŞ/LAMİNESİZ(T95)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736797",
                        "gtip": "560210310000002",
                        "gtipDesc": "KEÇE-TRİKO.YÜN/İNCE KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ KAPLANMAMIŞ/LAMİNESİZ(T95)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736795",
                        "gtip": "560210310000001",
                        "gtipDesc": "KEÇE-TRİKO.YÜN/İNCE KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ KAPLANMAMIŞ/LAMİNESİZ(T95)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736794",
                        "gtip": "560210190000002",
                        "gtipDesc": "KEÇE-İĞNEDEN.DOK.DİĞ.MADDEDEN.EMDİRİLMEMİŞ. SIVANMAMIŞ.KAPLANMAMIŞ/LAMİNESİZ(T95)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736793",
                        "gtip": "560210190000001",
                        "gtipDesc": "KEÇE-İĞNEDEN.DOK.DİĞ.MADDEDEN.EMDİRİLMEMİŞ. SIVANMAMIŞ.KAPLANMAMIŞ/LAMİNESİZ(T95)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736791",
                        "gtip": "560210110000002",
                        "gtipDesc": "KEÇE-İĞNEDEN.JÜT.BİTKİ İÇ LİFİNDEN.EMDİRİLME. SIVANMA.KAPLANMAMIŞ/LAMİNESİZ(T152)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736790",
                        "gtip": "560210110000001",
                        "gtipDesc": "KEÇE-İĞNEDEN.JÜT.BİTKİ İÇ LİFİNDEN.EMDİRİLME. SIVANMA.KAPLANMAMIŞ/LAMİNESİZ(T152)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560210",
                        "gtip6desc": "Keçe (iğne işi, dikiş, trikotaj usulü birleştirilmiş elyaf)"
                      },
                      {
                        "id": "5caaf6a7d879d427257367a0",
                        "gtip": "560221000000002",
                        "gtipDesc": "KEÇE-DİĞER.YÜN/İNCE KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ KAPLANMAMIŞ/LAMİNESİZ(T95)(SAVUNMA AMAÇLI)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560221",
                        "gtip6desc": "Keçe (diğer, yün/ince kıldan, emdirilmemiş, sıvanmamış, kaplanmamış/laminesiz)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573679e",
                        "gtip": "560221000000001",
                        "gtipDesc": "KEÇE-DİĞER.YÜN/İNCE KILDAN.EMDİRİLMEMİŞ.SIVANMAMIŞ KAPLANMAMIŞ/LAMİNESİZ(T95)(SİVİL KULLANIM İÇİN)",
                        "gtip2": "56",
                        "gtip2desc": "Vatka, keçe ve dokunmamış mensucat, özel iplikler, sicim, kordon, ip, halat ve bunlardan mamul eşya",
                        "gtip4": "5602",
                        "gtip4desc": "Jüt ve bitki iç kabuğundan dokumalar",
                        "gtip6": "560221",
                        "gtip6desc": "Keçe (diğer, yün/ince kıldan, emdirilmemiş, sıvanmamış, kaplanmamış/laminesiz)"
                      },
                      {
                        "id": "5caaf6a7d879d42725736104",
                        "gtip": "480550001000",
                        "gtipDesc": "KEÇE KAĞIDI",
                        "gtip2": "48",
                        "gtip2desc": "Kağıt ve karton, kağıt hamurundan, kağıttan veya kartondan eşya",
                        "gtip4": "4805",
                        "gtip4desc": "Ağaçtan veya diğer odunsu maddelerden lif levhalar",
                        "gtip6": "480550",
                        "gtip6desc": "Keçe kağıdı/kartonu"
                      },
                      {
                        "id": "5caaf6a7d879d42725736105",
                        "gtip": "480550002000",
                        "gtipDesc": "KEÇE KARTONU",
                        "gtip2": "48",
                        "gtip2desc": "Kağıt ve karton, kağıt hamurundan, kağıttan veya kartondan eşya",
                        "gtip4": "4805",
                        "gtip4desc": "Ağaçtan veya diğer odunsu maddelerden lif levhalar",
                        "gtip6": "480550",
                        "gtip6desc": "Keçe kağıdı/kartonu"
                      },
                      {
                        "id": "5caaf6a7d879d427257342c0",
                        "gtip": "150210900000",
                        "gtipDesc": "DİĞER SIĞIR YAĞLARI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150210",
                        "gtip6desc": "Sığır, koyun veya keçilerin sıvı don yağları (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d42725735de2",
                        "gtip": "410622900000",
                        "gtipDesc": "KEÇİ VEYA OĞLAKLARIN. KURU HALDE (CRUST) DİĞER  DE RİLERİ",
                        "gtip2": "41",
                        "gtip2desc": "Ham postlar, deriler (kürkler hariç) ve köseleler",
                        "gtip4": "4106",
                        "gtip4desc": "Plastikten diğer plakalar, levhalar, yapraklar, filmler, folyeler ve şeritler",
                        "gtip6": "410622",
                        "gtip6desc": "Keçi ve oğlakların dabaklanmış kuru derileri"
                      },
                      {
                        "id": "5caaf6a7d879d42725735919",
                        "gtip": "340119001200",
                        "gtipDesc": "DETERJAN VEYA SABUN EMDİRİLMİŞ KEÇE - DİĞER",
                        "gtip2": "34",
                        "gtip2desc": "Sabunlar, yüzey aktif organik maddeler, yıkama yağlama müstahzarları, mumlar,bakım müstahzarları, dişçilik müstahzarları",
                        "gtip4": "3401",
                        "gtip4desc": "Hayvansal veya bitkisel gübreler",
                        "gtip6": "340119",
                        "gtip6desc": "Sıvanmış/kaplanmış kağıt vatka, keçe, dokunmamış mensucat"
                      },
                      {
                        "id": "5caaf6a7d879d42725735e02",
                        "gtip": "411310000000",
                        "gtipDesc": "KEÇİ VE OĞLAKLARIN İLERİ DERECEDE HAZIRLANMIŞ DERİ VE KÖSELELERİ",
                        "gtip2": "41",
                        "gtip2desc": "Ham postlar, deriler (kürkler hariç) ve köseleler",
                        "gtip4": "4113",
                        "gtip4desc": "Plastikten sofra, mutfak, ev, sağlık veya tuvalet eşyası",
                        "gtip6": "411310",
                        "gtip6desc": "Keçi ve oğlakların diğer deri ve köseleleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257342c1",
                        "gtip": "150290101000",
                        "gtipDesc": "KEMİK YAĞI ARTIKLARINDAN ELDE EDİLEN YAĞLAR",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150290",
                        "gtip6desc": "Sığır, koyun veya keçilerin yağları (sıvı don yağları hariç) (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342c2",
                        "gtip": "150290109000",
                        "gtipDesc": "DİĞERLERİ",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150290",
                        "gtip6desc": "Sığır, koyun veya keçilerin yağları (sıvı don yağları hariç) (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d427257342c3",
                        "gtip": "150290900011",
                        "gtipDesc": "SIĞIR YAĞLARI",
                        "gtip2": "15",
                        "gtip2desc": "Hayvansal ve bitkisel katı ve sıvı yağlar, yemeklik katı yağlar, hayvansal ve bitkisel mumlar",
                        "gtip4": "1502",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "150290",
                        "gtip6desc": "Sığır, koyun veya keçilerin yağları (sıvı don yağları hariç) (15.03 pozisyonundakiler hariç)"
                      },
                      {
                        "id": "5caaf6a7d879d42725733810",
                        "gtip": "020690990011",
                        "gtipDesc": "KOYUN VE KEÇİLERİN KARACİĞERLERİ - DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0206",
                        "gtip4desc": "Sığır, domuz, koyun, keçi, at, eşek, katır ve bardoların lerin yenilen sakatatı (taze,soğutulmuş veya dondurulmuş)",
                        "gtip6": "020690",
                        "gtip6desc": "Diğer hayvanların diğer sakatatı (dondurulmuş)"
                      },
                      {
                        "id": "5caaf6a7d879d42725737d4a",
                        "gtip": "844900009000",
                        "gtipDesc": "KEÇE/DOKUNMAMIŞ MENSUCAT İMAL MAKİNALARININ AKSAM VE PARÇALARI",
                        "gtip2": "84",
                        "gtip2desc": "Kazanlar, makinalar, mekanik cihazlar ve aletler, nükleer reaktörler, bunların aksam ve parçaları",
                        "gtip4": "8449",
                        "gtip4desc": "Santrifüjler; sıvıların veya gazların fiItre edilmesine veya arıtılmasına mahsus makina ve cihazlar",
                        "gtip6": "844900",
                        "gtip6desc": "Keçe, mensucat imal makinelerinin aksam, parçaları"
                      },
                      {
                        "id": "5caaf6a7d879d42725736e5e",
                        "gtip": "681292000000",
                        "gtipDesc": "KAĞIT. CİLT KARTONU VE KEÇE - AMYANT ESASLI",
                        "gtip2": "68",
                        "gtip2desc": "Taş, alçı, çimento, amyant, mika veya benzeri maddelerden eşya",
                        "gtip4": "6812",
                        "gtip4desc": "Dış tabanı kauçuktan, plastik maddeden, tabii veya terkip yoluyla elde edilen köseleden ve yüzü deriden olan ayakkabılar",
                        "gtip6": "681292",
                        "gtip6desc": "Amyant ve amyant karışımlarından kağıt, cilt kartonu ve keçe"
                      },
                      {
                        "id": "5caaf6a7d879d42725735dde",
                        "gtip": "410621000000",
                        "gtipDesc": "KEÇİ VEYA OĞLAKLARIN. YAŞ (WET-BLUE DAHİL) PARÇALA RA AYRILMIŞ DERİLERİ",
                        "gtip2": "41",
                        "gtip2desc": "Ham postlar, deriler (kürkler hariç) ve köseleler",
                        "gtip4": "4106",
                        "gtip4desc": "Plastikten diğer plakalar, levhalar, yapraklar, filmler, folyeler ve şeritler",
                        "gtip6": "410621",
                        "gtip6desc": "Keçi ve oğlakların dabaklanmış yaş derileri"
                      },
                      {
                        "id": "5caaf6a7d879d42725735ddf",
                        "gtip": "410621000000",
                        "gtipDesc": "KEÇİ VEYA OĞLAKLARIN. YAŞ (WET-BLUE DAHİL) PARÇALA RA AYRILMAMIŞ DERİLERİ",
                        "gtip2": "41",
                        "gtip2desc": "Ham postlar, deriler (kürkler hariç) ve köseleler",
                        "gtip4": "4106",
                        "gtip4desc": "Plastikten diğer plakalar, levhalar, yapraklar, filmler, folyeler ve şeritler",
                        "gtip6": "410621",
                        "gtip6desc": "Keçi ve oğlakların dabaklanmış yaş derileri"
                      },
                      {
                        "id": "5caaf6a7d879d42725735de0",
                        "gtip": "410621900000",
                        "gtipDesc": "KEÇİ VEYA OĞLAKLARIN. YAŞ (WET-BLUE DAHİL) PARÇALA RA AYRILMIŞ DERİLERİ",
                        "gtip2": "41",
                        "gtip2desc": "Ham postlar, deriler (kürkler hariç) ve köseleler",
                        "gtip4": "4106",
                        "gtip4desc": "Plastikten diğer plakalar, levhalar, yapraklar, filmler, folyeler ve şeritler",
                        "gtip6": "410621",
                        "gtip6desc": "Keçi ve oğlakların dabaklanmış yaş derileri"
                      },
                      {
                        "id": "5caaf6a7d879d42725735de1",
                        "gtip": "410622100000",
                        "gtipDesc": "KEÇİ VEYA OĞLAKLARIN. KURU HALDE (CRUST) (BİTKİSEL ÖN DABAKLAMA YAPILMIŞ HİNT MELEZİ) DERİLERİ",
                        "gtip2": "41",
                        "gtip2desc": "Ham postlar, deriler (kürkler hariç) ve köseleler",
                        "gtip4": "4106",
                        "gtip4desc": "Plastikten diğer plakalar, levhalar, yapraklar, filmler, folyeler ve şeritler",
                        "gtip6": "410622",
                        "gtip6desc": "Keçi ve oğlakların dabaklanmış kuru derileri"
                      },
                      {
                        "id": "5caaf6a7d879d4272573380b",
                        "gtip": "020680990011",
                        "gtipDesc": "KOYUN VE KEÇİLERİN KARACİĞERLERİ - TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0206",
                        "gtip4desc": "Sığır, domuz, koyun, keçi, at, eşek, katır ve bardoların lerin yenilen sakatatı (taze,soğutulmuş veya dondurulmuş)",
                        "gtip6": "020680",
                        "gtip6desc": "Diğer hayvanların diğer sakatatı (taze/soğutulmuş)"
                      },
                      {
                        "id": "5caaf6a7d879d42725733812",
                        "gtip": "020690990019",
                        "gtipDesc": "KOYUN VE KEÇİLERİN DİĞER SAKATATI - DONDURULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0206",
                        "gtip4desc": "Sığır, domuz, koyun, keçi, at, eşek, katır ve bardoların lerin yenilen sakatatı (taze,soğutulmuş veya dondurulmuş)",
                        "gtip6": "020690",
                        "gtip6desc": "Diğer hayvanların diğer sakatatı (dondurulmuş)"
                      },
                      {
                        "id": "5caaf6a7d879d4272573591b",
                        "gtip": "340119009000",
                        "gtipDesc": "SIVANMIŞ / KAPLANMIŞ KAĞIT VATKA. KEÇE. DOKUNMAMIŞ MENSUCAT - DİĞER",
                        "gtip2": "34",
                        "gtip2desc": "Sabunlar, yüzey aktif organik maddeler, yıkama yağlama müstahzarları, mumlar,bakım müstahzarları, dişçilik müstahzarları",
                        "gtip4": "3401",
                        "gtip4desc": "Hayvansal veya bitkisel gübreler",
                        "gtip6": "340119",
                        "gtip6desc": "Sıvanmış/kaplanmış kağıt vatka, keçe, dokunmamış mensucat"
                      },
                      {
                        "id": "5caaf6a7d879d42725738cb9",
                        "gtip": "960850009019",
                        "gtipDesc": "BİLYALI.KEÇE UÇLU.MÜREKEPLİ VD KALEMLERDEN TAKIMLAR - DİĞER",
                        "gtip2": "96",
                        "gtip2desc": "Çeşitli mamul eşya (hijyenik havlu, bebek bezi, kalem, çakmak, fermuar, fırça vb.)",
                        "gtip4": "9608",
                        "gtip4desc": "Müzik aletlerinin aksam-parça-aksesuarı (kardlar, diskler, rulolar); her tür metronomlar, akort düdükleri, diyapazonlar",
                        "gtip6": "960850",
                        "gtip6desc": "Bilyeli, keçe uçlu, mürekkepli vd kalemlerden takımlar"
                      },
                      {
                        "id": "5caaf6a7d879d42725735ddd",
                        "gtip": "410621000000",
                        "gtipDesc": "DİĞER HAYVANLARIN DABAKLANMIŞ VEYA \"CRUST\" (ARA KURUTMALI) DERİLERİ (YÜNÜ ALINMIŞ), (PARÇALANMIŞ OLSUN OLMASIN, FAKAT DAHA İLERİ BİR İŞLEM GÖRMEMİŞ):KEÇİ VEYA OĞLAKLARIN DERİLERİ:YAŞ HALDE (WET - BLUE",
                        "gtip2": "41",
                        "gtip2desc": "Ham postlar, deriler (kürkler hariç) ve köseleler",
                        "gtip4": "4106",
                        "gtip4desc": "Plastikten diğer plakalar, levhalar, yapraklar, filmler, folyeler ve şeritler",
                        "gtip6": "410621",
                        "gtip6desc": "Keçi ve oğlakların dabaklanmış yaş derileri"
                      },
                      {
                        "id": "5caaf6a7d879d42725738cb5",
                        "gtip": "960850001000",
                        "gtipDesc": "BİLYALI.KEÇE UÇLU.MÜREKEPLİ VD KALEMLERDEN TAKIMLAR - PLASTİK MADDELERDEN OLAN",
                        "gtip2": "96",
                        "gtip2desc": "Çeşitli mamul eşya (hijyenik havlu, bebek bezi, kalem, çakmak, fermuar, fırça vb.)",
                        "gtip4": "9608",
                        "gtip4desc": "Müzik aletlerinin aksam-parça-aksesuarı (kardlar, diskler, rulolar); her tür metronomlar, akort düdükleri, diyapazonlar",
                        "gtip6": "960850",
                        "gtip6desc": "Bilyeli, keçe uçlu, mürekkepli vd kalemlerden takımlar"
                      },
                      {
                        "id": "5caaf6a7d879d4272573380d",
                        "gtip": "020680990019",
                        "gtipDesc": "KOYUN VE KEÇİLERİN DİĞER SAKATATI - TAZE / SOĞUTULMUŞ",
                        "gtip2": "02",
                        "gtip2desc": "Etler ve yenilen sakatat",
                        "gtip4": "0206",
                        "gtip4desc": "Sığır, domuz, koyun, keçi, at, eşek, katır ve bardoların lerin yenilen sakatatı (taze,soğutulmuş veya dondurulmuş)",
                        "gtip6": "020680",
                        "gtip6desc": "Diğer hayvanların diğer sakatatı (taze/soğutulmuş)"
                      },
                      {
                        "id": "5caaf6a7d879d42725738cac",
                        "gtip": "960820009000",
                        "gtipDesc": "KEÇE UÇLU VEYA DİĞER GÖZENEK UÇLU YAZI VE İŞARET KALEMLERİ - DİĞER",
                        "gtip2": "96",
                        "gtip2desc": "Çeşitli mamul eşya (hijyenik havlu, bebek bezi, kalem, çakmak, fermuar, fırça vb.)",
                        "gtip4": "9608",
                        "gtip4desc": "Müzik aletlerinin aksam-parça-aksesuarı (kardlar, diskler, rulolar); her tür metronomlar, akort düdükleri, diyapazonlar",
                        "gtip6": "960820",
                        "gtip6desc": "Keçe uçlu/diğer gözenek uçlu yazı ve işaret kalemleri"
                      },
                      {
                        "id": "5caaf6a7d879d42725738cb7",
                        "gtip": "960850009011",
                        "gtipDesc": "BİLYALI.KEÇE UÇLU.MÜREKEPLİ VD KALEM.TAKIMLAR- GÖVDE KIYMETLİ METALDEN/ KAPLI",
                        "gtip2": "96",
                        "gtip2desc": "Çeşitli mamul eşya (hijyenik havlu, bebek bezi, kalem, çakmak, fermuar, fırça vb.)",
                        "gtip4": "9608",
                        "gtip4desc": "Müzik aletlerinin aksam-parça-aksesuarı (kardlar, diskler, rulolar); her tür metronomlar, akort düdükleri, diyapazonlar",
                        "gtip6": "960850",
                        "gtip6desc": "Bilyeli, keçe uçlu, mürekkepli vd kalemlerden takımlar"
                      },
                      {
                        "id": "5caaf6a7d879d42725738cab",
                        "gtip": "960820001000",
                        "gtipDesc": "KEÇE UÇLU VEYA DİĞER GÖZENEK UÇLU YAZI VE İŞARET KALEMLERİ - PLASTİK MADDELERDEN",
                        "gtip2": "96",
                        "gtip2desc": "Çeşitli mamul eşya (hijyenik havlu, bebek bezi, kalem, çakmak, fermuar, fırça vb.)",
                        "gtip4": "9608",
                        "gtip4desc": "Müzik aletlerinin aksam-parça-aksesuarı (kardlar, diskler, rulolar); her tür metronomlar, akort düdükleri, diyapazonlar",
                        "gtip6": "960820",
                        "gtip6desc": "Keçe uçlu/diğer gözenek uçlu yazı ve işaret kalemleri"
                      },
                      {
                        "id": "5caaf6a7d879d42725733772",
                        "gtip": "010420900018",
                        "gtipDesc": "KEÇİLER-DİĞER.DAMIZLIK OLMAYAN",
                        "gtip2": "01",
                        "gtip2desc": "Canlı hayvanlar",
                        "gtip4": "0104",
                        "gtip4desc": "Canlı koyun ve keçiler",
                        "gtip6": "010420",
                        "gtip6desc": "Keçi"
                      },
                      {
                        "id": "5caaf6a7d879d42725733771",
                        "gtip": "010420900014",
                        "gtipDesc": "KEÇİLER-EVCİL OLMAYAN",
                        "gtip2": "01",
                        "gtip2desc": "Canlı hayvanlar",
                        "gtip4": "0104",
                        "gtip4desc": "Canlı koyun ve keçiler",
                        "gtip6": "010420",
                        "gtip6desc": "Keçi"
                      },
                      {
                        "id": "5caaf6a7d879d42725733770",
                        "gtip": "010420900013",
                        "gtipDesc": "OĞLAKLAR-DAMIZLIK OLMAYAN",
                        "gtip2": "01",
                        "gtip2desc": "Canlı hayvanlar",
                        "gtip4": "0104",
                        "gtip4desc": "Canlı koyun ve keçiler",
                        "gtip6": "010420",
                        "gtip6desc": "Keçi"
                      },
                      {
                        "id": "5caaf6a7d879d4272573376f",
                        "gtip": "010420100000",
                        "gtipDesc": "DAMIZLIK CANLI KEÇİLER",
                        "gtip2": "01",
                        "gtip2desc": "Canlı hayvanlar",
                        "gtip4": "0104",
                        "gtip4desc": "Canlı koyun ve keçiler",
                        "gtip6": "010420",
                        "gtip6desc": "Keçi"
                      },
                      {
                        "id": "5caaf6a7d879d42725737037",
                        "gtip": "701990003000",
                        "gtipDesc": "CAM LİFLERDEN KEÇE",
                        "gtip2": "70",
                        "gtip2desc": "Cam ve cam eşya",
                        "gtip4": "7019",
                        "gtip4desc": "Ateşe dayanıklı diğer seramik eşya (karni, potafırın, kapsül, tapa, mesnet, kal potası, kılıf, tüp, boru ve çubuk gibi)",
                        "gtip6": "701990",
                        "gtip6desc": "Diğer cam lifi, cam yününden mamuller"
                      },
                      {
                        "id": "5caaf6a7d879d4272573425c",
                        "gtip": "121292000000",
                        "gtipDesc": "KEÇİ BOYNUZU (HARNUP)",
                        "gtip2": "12",
                        "gtip2desc": "Yağlı tohum ve meyvalar, muhtelif tane, tohum ve meyvalar,sanayiide ve tıpta kullanılan bitkiler, saman ve kaba yem",
                        "gtip4": "1212",
                        "gtip4desc": "Keçiboynuzu, deniz otları ve diğer algler, şeker pancarı, şeker kamışı vs.",
                        "gtip6": "121292",
                        "gtip6desc": "Keçiboynuzu (harnup)"
                      },
                      {
                        "id": "5caaf6a7d879d42725737036",
                        "gtip": "701990003000",
                        "gtipDesc": " CAM LİFLERDEN KEÇE",
                        "gtip2": "70",
                        "gtip2desc": "Cam ve cam eşya",
                        "gtip4": "7019",
                        "gtip4desc": "Ateşe dayanıklı diğer seramik eşya (karni, potafırın, kapsül, tapa, mesnet, kal potası, kılıf, tüp, boru ve çubuk gibi)",
                        "gtip6": "701990",
                        "gtip6desc": "Diğer cam lifi, cam yününden mamuller"
                      },
                      {
                        "id": "5caaf6a7d879d427257344f3",
                        "gtip": "170490992000",
                        "gtipDesc": "SADE LOKUM",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344f5",
                        "gtip": "170490999011",
                        "gtipDesc": "FONDAN",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344f6",
                        "gtip": "170490999012",
                        "gtipDesc": "LOKUMLAR-DİĞER",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344f7",
                        "gtip": "170490999019",
                        "gtipDesc": "DİĞER ŞEKERCİLİK MAMULLERİ-KAKAO İÇERMEYEN",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344f4",
                        "gtip": "170490993000",
                        "gtipDesc": "KAYMAKLI LOKUM",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344eb",
                        "gtip": "170490650019",
                        "gtipDesc": "DİĞER ŞEKERCİLİK MAMULLERİ-SAKIZLI. JÖLELİ",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344ec",
                        "gtip": "170490710000",
                        "gtipDesc": "KAYNATILMIŞ TATLILAR (DOLDURULMUŞ OLSUN OLMASIN)",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344ed",
                        "gtip": "170490710000",
                        "gtipDesc": "AKİDE ŞEKERİ",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d42725735915",
                        "gtip": "340111002000",
                        "gtipDesc": "DETERJAN VEYA SABUN EMDİRİLMİŞ KEÇE",
                        "gtip2": "34",
                        "gtip2desc": "Sabunlar, yüzey aktif organik maddeler, yıkama yağlama müstahzarları, mumlar,bakım müstahzarları, dişçilik müstahzarları",
                        "gtip4": "3401",
                        "gtip4desc": "Hayvansal veya bitkisel gübreler",
                        "gtip6": "340111",
                        "gtip6desc": "Tuvalet için (tıbbi ürünler dahil)"
                      },
                      {
                        "id": "5caaf6a7d879d427257344ea",
                        "gtip": "170490650012",
                        "gtipDesc": "JÖLELİ ŞEKERLER",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344ef",
                        "gtip": "170490750000",
                        "gtipDesc": "KARAMELLER VE BENZERİ TATLILAR",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344ee",
                        "gtip": "170490710000",
                        "gtipDesc": "KAYNATILMIŞ TATLILAR (DOLDURULMUŞ OLSUN OLMASIN)-KAKAO İÇERMEYEN ŞEKER MAMULLERİ-",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344e9",
                        "gtip": "170490650011",
                        "gtipDesc": "SAKIZLI ŞEKERLER",
                        "gtip2": "17",
                        "gtip2desc": "Şeker ve şeker mamulleri",
                        "gtip4": "1704",
                        "gtip4desc": "Sığır, koyun/keçi yağları",
                        "gtip6": "170490",
                        "gtip6desc": "Kakao içermeyen diğer şeker mamulleri"
                      },
                      {
                        "id": "5caaf6a7d879d427257344e5",
                        "gtip": "170490510000",
                        "gtipDesc": "EZMELER-NET MUHTEVASI =>1 KG.. AMBALAJLARDA.(ACI BADEM KURABİYESİ DAHİL)",
                        "gtip2": "17",
[...]
